<!DOCTYPE html>
<html>
  <head>
    <title>Codelabs builder</title>
    <meta name="description" content="Get Google Doc as a Codelab">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Source+Code+Pro:400" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="container">
      <img id="banner" src="/logo.png" alt="banner">
      <h1>
        Compilador de docs a Codelabs
      </h1>
    </header>
    <main class="container">
      <p>Copia la URL del documento de Google para crear el Codelab y visualizarlo:</p>
      <form>
        <input class="pastekeyhere" name="key" type="text" autocorrect="off" maxlength="100" placeholder="Copie la URL de su doc aquí">
        <button class="submit-btn" type="submit">Enviar</button>
      </form>
      <hr>
      <a href="/codelabs">Codelabs disponibles</a>
    </main>

    <footer id="footer" class="container">
          <div class="custom">
            <div class="footer" style="text-align: center;">
              <div id="websis-icon" class="social-icons">
                <ul class="websis">
                  <ul class="GENERAL">
                    <li class="social-Mujeres"><a href="https://mujeresencomputacion.uniandes.edu.co/" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-Labs"><a href="https://labsis.uniandes.edu.co/" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-Publica"><a href="https://sistemas.uniandes.edu.co/investigacion/publicaciones-proyectos/publicaciones" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-Cupi2"><a href="http://cupi2.uniandes.edu.co/" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-Econtinuada"><a href="http://educacioncontinuada.uniandes.edu.co/index.php/es/" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-Conflicto"><a href="http://sch01.uniandes.edu.co/" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-Paradigma"><a href="http://paradigma.uniandes.edu.co/" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-Forosisis"><a href="https://sistemas.uniandes.edu.co/foros-isis" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                    <li class="social-sisinfo"><a href="http://sisinfo.uniandes.edu.co/" target="_blank" rel="noopener noreferrer">DIOA</a></li>
                  </ul>
                </ul>
              </div>
              <br>
              <div style="text-align: center;">
                <a href="https://apoyofinanciero.uniandes.edu.co/">Apoyo Financiero</a> | 
                <a href="http://registro.uniandes.edu.co/">Admisiones y Registro</a> | 
                <a href="http://biblioteca.uniandes.edu.co/"> Biblioteca</a> | 
                <a href="https://sicuaplus.uniandes.edu.co"> Sicua Plus</a> | 
                <a href="http://eventos.uniandes.edu.co/">Agenda y Eventos</a> | 
                <a href="http://decanaturadeestudiantes.uniandes.edu.co/"> Decanatura de Estudiantes</a>
                <br> Universidad de los Andes | Vigilada Mineducación
                <br> Reconocimiento como Universidad: Decreto 1297 del 30 de mayo de 1964.
                <br> Reconocimiento personería jurídica: Resolución 28 del 23 de febrero de 1949 Minjusticia 
                <br> Edificio Mario Laserna Cra 1Este No 19A - 40 Bogotá (Colombia) | Tel: [571] 3394949 Ext: 2860, 2861, 2862 | Fax: [571] 3324325 
                <br> © 2020 - <a href="https://sistemas.uniandes.edu.co/">Departamento de Ingeniería de Sistemas y Computación</a>
              </div>
            </div>
          </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
